.cover-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.cover-button {
    position: absolute;
    color: black;
    left: 90%;
    padding: 12px;
    border-radius: 50%;
    background: white;
    border: white;
    bottom: 1rem;
}

.cover-button.disabled {
    cursor: not-allowed;
}

.button-img {
    /*cursor: not-allowed;*/
}
