.jello-button {
  --btn-bg: #1f1f1f;
  --btn-bg-hover: #2b2b2b;
  --btn-text: #ffffff;
  --btn-border: none;           

  width: fit-content;
  min-width: 150px;
  padding: 0.4rem 0.5rem;

  background-color: var(--btn-bg);
  color: var(--btn-text);
  border: var(--btn-border);    

  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.18);
  cursor: pointer;
  transition: background-color 0.15s, box-shadow 0.15s,
              transform 0.1s, color 0.15s, border-color 0.15s;
}

.jello-button:hover {
    background-color: var(--btn-bg-hover);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.152);  /* ← MAS aplica o shadow padrão */
    transform: translateY(-1px);
}

.primary {
  --btn-bg: #1E1E1E;
  --btn-bg-hover: #373737;
}

.ghost {
  --btn-bg: transparent;
  --btn-bg-hover: #f3f4f6;
  --btn-text: #6b7280;      /* cinza do texto */
  --btn-border: 1px solid #9ca3af;   /* borda cinza */

  border: var(--btn-border);
  box-shadow: none;
}

.ghost:hover {
  --btn-bg: #f3f4f6;
  --btn-bg-hover: #e5e7eb;
  --btn-text: #576272;
}